* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: antiquewhite;
}

header {
  margin: 0px;
  background-image: url(./images/header.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

header img {
  margin: -30px;
  margin-left: 20px;
  width: 200px;
}

.logo {
  cursor: pointer;
}

.logo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-div ul {
  display: flex;
  padding: 40px;
}

.logo-div ul li {
  padding: 40px;
  margin-top: -35px;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  list-style-type: none;
}

.logo-div ul li a {
  text-decoration: none;
  color: #fff;
}

.header-button {
  text-align: center;
  margin-top: 27%;
}

.header-button button {
  padding: 12px 30px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10px;
  text-transform: uppercase;
  background: transparent;
  font-size: 25px;
  cursor: pointer;
}

.content {
  width: 100%;
  height: 100vh;
  background-color: bisque;
}
